<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_noob">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_noob">
        <activity
            android:name=".Partida"
            android:exported="false" />
        <activity
            android:name=".SelecionarJogo"
            android:exported="false" />
        <activity
            android:name=".DefinirParticipantes"
            android:exported="false" />
        <activity
            android:name=".CadastroUsuario"
            android:exported="false" />
        <activity
            android:name=".CadastroJogos"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".ListaPartidas"
            android:exported="false" />
        <activity
            android:name=".NovaPartida"
            android:exported="false" />
        <activity
            android:name=".PerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>